extends layout

block header
	include header
	
block content
	div.container
		div.well
			h1.text-center
				span.glyphicon.glyphicon-home
				|     Yummy PROTOTYPE
			br
			br
			h4.text-center
				| Yummy Prototype: Manage a wish list
				br
				| Node.js app to quickly propotype access to a Cloudant DB 
				br
				br
				br
				a.btn.btn-default.btn-lg(href='/wishlist', role='button') 
					span.glyphicon.glyphicon-list
					|     Go to your Wish List
