extends layout

block header
	include header
	
block content
	div.container
		br
		div.well
			h3.text-center
				| Prototype: Enter the item you want to add to your wish list
				br
				| (Item name + valid URL)
			// form(role='form',action='/action/addItem', method='post')
			form(role='form',action='/wishlist/item', method='post')
				.form-group
					label(for='item') Item Name
					input#item.form-control(name='item',type='text', placeholder='Enter the item name here')
				.form-group
					label(for='url') Item URL
					input#url.form-control(name='url', type='url', placeholder='Enter the URL of the item here: e.g  http://yummyration.mybluemix.net/menuitem/d404')
				button.btn.btn(type='submit') SAVE TO DATABASE
		br
		br
		br
		div.well
			h1.text-center
				span.glyphicon.glyphicon-list
				|   Your Wish List
			table.table.table-bordered.table-hover
				thead
					tr
						th Name
						th url
						th
				tbody
					each item in inventory
						tr.warning
							td
								b
									| #{item.item}
							td
								| #{item.url}
							td
								a.btn.btn-xs.btn(href='/action/removeItem/#{item._id}', role='button') Remove from database
